dn: ou=system,{{ ldap.domain }}
objectClass: organizationalUnit
ou: system

dn: cn=groups,cn=accounts,{{ ldap.domain }}
objectClass: organizationalUnit

{% for user in admin_users %}
dn: uid={{ user.name }},cn=groups,cn=accounts,{{ ldap.domain }}
objectclass: person
objectclass: organizationalperson
objectclass: inetorgperson
uid: {{ user.name }}
{% endfor %}

dn: cn=users,cn=accounts,{{ ldap.domain }}
objectClass: organizationalUnit

{% for user in admin_users %}
dn: uid={{ user.name }},cn=users,cn=accounts,{{ ldap.domain }}
objectclass: person
objectclass: organizationalperson
objectclass: inetorgperson
uid: {{ user.name }}
mail: {{ user.mail }}
{% endfor %}

dn: cn=computers,cn=accounts,{{ ldap.domain }}
objectClass: organizationalUnit

{% for hosts in dhcp_config %}
dn: uid={{ host.hostname }},cn=computers,cn=accounts,{{ ldap.domain }}
objectClass: organizationalUnit
{% endfor %}
